<h1>Hare Krishna {{ title }}</h1>

<h2>The real trans is => {{ data }}</h2>

<h3>function interpolation => {{ getFunction() }}</h3>

<h4>{{ 2 * 2 }}</h4>

<h5>
  {{ title == "blog" }} => can also check the value, howwevrr we can not check
  the typeof and can not assign the new value. And we can also not used the new
  keyword and can also not use the typeof and increment decrement operator
</h5>
